@import "variables";


main {
    background-color: $white;
    padding: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
    

    li {
        margin-left: 1rem;

        a {
            font-size: medium;
        }
    }
}