@import "variables";

nav {
    display: flex;
    margin-top: 4rem;
    
    
    a {
        color: $white;
        text-decoration: none;
        padding: 2rem;
        background-color: $darkblue;
        font-weight: bold;
        font-size: large;
        margin: .8rem;
        margin-bottom: 0;
    }

    .active {
        background-color: $white;
        color: $darkblue;
    }
}