@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$darkblue: #2A324B;
$ligtblue: #58699D;
$grey: #E1E5EE;
$white: #fff;

body {
    font-family: "Montserrat", serif;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav, main {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: $grey;
    gap: 10px;

    a {
        background-color: $darkblue;
        color: $white;
        border: none;
        padding: 1.2 1.5rem;
        font-size: large;
        font-weight: bold;
        flex: 1;
        text-align: center;

        &.active {
            background-color: $white;
            color: $darkblue;
        }
    }
}

main {
    section{
        background-color: $white;
        flex: 1;
    }
}

h2 {
    color: $darkblue;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

p {
    font-size: 1rem;
    text-align: center;
    color: $darkblue;
}

ul {
    padding: 0;

    li {
        margin-left: 2.5rem;
    }
}


@media (min-width: 750px) {
    main {
        section {
            padding: 2rem;
        }
    }

    p {
        font-size: 1.1rem;
        text-align: left;
    }

    h2 {
        font-size: 2rem;
        margin-left: 0;
    }
}